* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

    color: white;
}

html {
    scroll-behavior: smooth;
}

/* Navigation Bar */
.nav-bar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(94, 94, 94, 0.452);
    padding: 10px;
    position: fixed;
}

.nav-bar>.logo>a {
    text-decoration: none;
    color: white;

}

.nav-bar>.nav-links {
    height: 100%;
}

.nav-bar>.nav-links>ul {

    height: 100%;

    justify-content: center;
    display: flex;
    align-items: center;

    gap: 30px;

}

.nav-bar>.nav-links>ul>li {
    list-style: none;
}

.nav-bar>.nav-links>ul>li>a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: all 0.3s linear;
}

.nav-bar>.nav-links>ul>li>a:hover {
    color: rgb(187, 187, 187);
    text-shadow: 0 0 10px black;
}

.outer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-color: rgb(20, 33, 61);
}

/* Home */
#home {
    background-image: url("https://wallpapercave.com/wp/wp12835708.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    gap: 10px;

}

.home-inner {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-inner>h1 {
    font-size: 50px;
    font-weight: bold;

}

.home-inner>p {
    font-size: 18px;
}

/* About */

#about {
    background-color: rgba(40, 40, 40, 0.300);
}

.about-inner {
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.about-inner>.left-about {
    flex-basis: 30%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-inner>.left-about>.photo {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-inner>.left-about>.photo>img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.about-inner>.right-about {
    height: 100%;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.right-about>.about-content {
    height: 60%;
    width: 100%;
}

.right-about>.about-content>h2 {
    font-size: 30px;
    color: rgb(252, 163, 17);

}

.right-about>.about-content>p {
    text-align: justify;
    line-height: 30px;
    margin-top: 20px;
}
#role{
}



.right-about>.skills-outer {
    height: 40%;
    width: 100%;

}

.right-about>.skills-outer>button {
    padding: 10px;
    border: 0.5px solid white;
    background-color: transparent;

    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    transition: all 0.2s linear;

}

.right-about>.skills-outer>button:hover {
    background-color: rgb(56, 56, 56);
}

#projects{
    background-color: rgb(40, 40, 40,0.900);
}


/* Contact */
#contact {
    background-color: rgba(40, 40, 40, 0.300);
}

.contact-inner {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.contact-inner>.card {
    height: 200px;
    width: 300px;
    border-radius: 30px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    transition: all 0.3s linear;
    
    border: 1px solid white;
    background-color: rgba(80, 80, 80, 0.2);
    

}
.contact-inner>.card:hover {
    transform: translateY(-10px);

}

.contact-inner> .card > a{
    text-decoration: none;
    color: white;
    cursor: pointer;

}
.foot-bar {
    height: 30px;
    background-color: rgb(40, 40, 40    );
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}