* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: auto;
}

body {
    font-family: "poppins", sans-serif;
    background-color: black;
    color: white;
}

/* Navigation Bar */
.nav-bar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(94, 94, 94, 0.452);
    padding: 10px;
    position: fixed;
}

.nav-bar>.logo>a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.nav-bar>.nav-links {
    height: 100%;
}

.nav-bar>.nav-links>ul {

    height: 100%;

    justify-content: center;
    display: flex;
    align-items: center;

    gap: 30px;

}

.nav-bar>.nav-links>ul>li {
    height: 100%;
    list-style: none;
}

.nav-bar>.nav-links>ul>li>a {
    text-decoration: none;
    height: 100%;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.09s ease-in-out;
}

.nav-bar>.nav-links>ul>li>a:hover {
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 3px solid rgb(255, 81, 0);
}

.outer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-color: rgb(20, 33, 61);
}

/* Home */
#home {
    background-image: url("https://wallpapercave.com/wp/wp12835708.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    gap: 10px;

}

.home-inner {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.home-inner>h1 {
    font-size: 50px;
    font-weight: bold;

}

.home-inner>h1>span {
    color: rgb(252, 163, 17);
}

.home-inner>p {
    font-size: 18px;
}

.home-inner>.icons-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.fa-brands {
    font-size: 25px;
    color: white;

}


/* About */

#about {
    background-color: rgba(40, 40, 40, 0.300);
}

.about-inner {
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.about-inner>.left-about {
    flex-basis: 30%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-inner>.left-about>.photo {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-inner>.left-about>.photo>img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.about-inner>.right-about {
    height: 100%;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* background-color: red; */
}

.right-about>.about-content {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px;
    gap: 10px;
}

.right-about>.about-content>h2 {
    font-size: 30px;
}

.right-about>.about-content>p {
    text-align: justify;
    line-height: 30px;
}

#role {
    color: rgb(252, 163, 17);
    font-size: 20px;
}

.right-about>.skills-outer {
    height: 40%;
    width: 100%;
    padding-top: 60px;
}

.right-about>.skills-outer>button {
    padding: 10px;
    border: 0.5px solid white;
    background-color: transparent;

    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    transition: all 0.2s linear;

}

.right-about>.skills-outer>button:hover {
    background-color: rgb(56, 56, 56);
}

#projects {
    background-color: rgb(40, 40, 40, 0.900);
}

/* Contact */
#contact {
    background-color: rgba(40, 40, 40, 0.300);

}

.contact-inner {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-inner>.card {
    height: 200px;
    width: 300px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    transition: all 0.3s linear;

    border: 1px solid white;
    background-color: rgba(80, 80, 80, 0.2);


}

.contact-inner>.card:hover {
    transform: translateY(-10px);

}

.contact-inner>.card>a {
    text-decoration: none;
    color: white;
    cursor: pointer;

}

.fa-solid {
    font-size: 29px;
    color: rgb(252, 163, 17);

}

.foot-bar {
    height: 30px;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* ---------- HAMBURGER MENU ---------- */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    height: 100%;
    z-index: 1001;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 920px) {

    /* CONTACT */
    .contact-inner {
        flex-direction: column;
        height: 80%;
    }

    .contact-inner>.card {
        height: 150px;
        width: 300px;

        transition: all 0.3s linear;

        border: 1px solid white;
        background-color: rgba(80, 80, 80, 0.2);
    }
}

@media (max-width: 768px) {
    .nav-bar {
        padding: 10px 20px;
    }

    .hamburger {
        display: flex;
    }

    .nav-bar>.nav-links {
        position: absolute;
        top: 50px;
        right: 0;
        padding: 10px;
        width: 220px;
        height: 300px;

        background-color: rgba(20, 20, 20, 0.95);

        display: none;
        transition: all 0.3s;

        animation: navLinks 0.5s linear;
    }

    @keyframes navLinks {
        from {
            height: 0;
            width: 220px;
            padding: 0;
        }

        to {
            height: 300px;
        }
    }

    .nav-bar>.nav-links.active {
        display: flex;
        justify-content: center;
    }

    .nav-bar>.nav-links>ul {
        width: 100%;
        flex-direction: column;
        /* gap: 20px; */
        padding-top: 20px;

    }

    /* Home */
    #home {
        background-image: url("https://wallpapercave.com/wp/wp12835708.jpg");
        background-repeat: no-repeat;
        background-size: cover;

    }

    .home-inner {
        gap: 10px;
    }

    .home-inner>h1 {
        font-size: 40px;
        font-weight: bold;

    }

    .home-inner>p {
        font-size: 20px;
        font-weight: bold;
    }

    .fa-brands {
        font-size: 20px;
        color: white;

    }

    /* ABOUT */
    .about-inner {
        height: 100%;

        flex-direction: column;
        text-align: center;
    }

    .about-inner>.left-about {
        height: 30%;
        width: 100%;

    }

    .about-inner>.left-about>.photo>img {
        height: 150px;
        width: 150px;
    }

    .about-inner>.right-about {
        height: 70%;
    }

    #role {
        text-align: center;
    }

    .right-about>.about-content {
        height: 70%;
        align-items: center;
        gap: 10px;
    }

    .right-about>.about-content>p {
        font-size: 14px;
        line-height: 25px;
    }

    .right-about>.skills-outer {
        padding-top: 20px;
        height: 30%;
    }

    .right-about>.skills-outer>button {
        font-size: 12px;
        padding: 7px;
    }

    /* CONTACT */
    .contact-inner {
        flex-direction: column;
        height: 80%;
    }

    .contact-inner>.card {
        height: 150px;
        width: 300px;

        transition: all 0.3s linear;

        border: 1px solid white;
        background-color: rgba(80, 80, 80, 0.2);
    }
}


/* ---------- SMALL MOBILE ---------- */
@media (max-width: 541px) {

    .home-inner>h1 {
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    .home-inner>p {
        font-size: 16px;
    }

    .about-inner>.left-about>.photo {
        height: 150px;
        width: 150px;

    }


    .about-inner>.right-about>.about-content>p {

        text-align: justify;
        line-height: 20px;
        font-size: 12px;
    }

    .right-about>.skills-outer {
        padding-top: 10px;

    }

    .right-about>.skills-outer>button {
        padding: 5px;
        font-size: 12px;
    }
}

@media (max-width: 369px) {
    .about-inner>.right-about>.about-content>p {
        text-align: justify;
        line-height: 20px;
        font-size: 11px;
    }

    .right-about>.skills-outer>button {
        margin-bottom: 5px;
        font-size: 8px;
    }
}

@media (max-width: 329px) {
    .about-inner>.right-about>.about-content>p {
        line-height: 17px;
        font-size: 10px;
    }
}